.title {
    color: antiquewhite;
    margin-top: 1px;
}

.squares {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.icon1 {
    width: 70px;
    height: 70px;
    font-size: small;
    color: azure;
    background: #449141;
    margin-right: 10%;
    border-style: ridge;
    display: flex;
    align-items: center;
    justify-content: center;
}

.matchs {
    padding: 2px;
}

.scrollable {
    margin: 5px;
    padding: 5px;
    /*background: linear-gradient(90deg, rgb(180, 226, 197) 0%, rgb(20, 32, 31) 0%, rgb(34, 63, 66) 50%, rgb(18, 35, 37) 100%);*/
    width: 600px;
    height: 500px;
    overflow: auto;
    border: 1ch;
    /*border-style: inset;*/
}

/* RIGTH PART OF THE SCREEN*/
.div {
    margin-bottom: 10px;
}

.label {
    font-size: 16px; font-weight: 300; color: #ffcc66; margin: 0 0 24px;
    display: inline-block;
    width: 150px;
    margin-right: 15px;
    text-align: right;
}

.input {
    width: 100px;
    border-radius: 10px;
    outline: 2px solid #FEBF00;
    border: 0;
    color: rgb(143, 2, 136);
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e2e2e2;
    outline-offset: 3px;
    padding: 5px 1rem;
    transition: 0.25s;
  }


/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 30px;
}

/* Control the left side */
.left {
    left: 0;
    background: linear-gradient(90deg, rgb(247, 143, 143) 0%, rgb(46, 46, 42) 0%, rgb(51, 47, 42) 50%, rgb(53, 49, 40) 100%);
}

/* Control the right side */
.right {
    right: 0;
    background: linear-gradient(90deg, rgb(180, 226, 197) 0%, rgb(59, 141, 76) 0%, rgb(17, 107, 71) 50%, rgb(44, 128, 82) 100%);
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}