.body1 {
    background: #76b852;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

    width: 360px;
    background-color: white;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 10px;
  }

.body1 span {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: red;
    margin-bottom: 15px;
  }
  
.body1 input {
    background: #f2f2f2;
  }
  
  .error {
    border-style: solid;
    border: 2px solid #ffa4a4;
  }
  
.body1  button {
    background: #4caf50;
    color: white;
    cursor: pointer;
  }
  
.body1  button:disabled {
    cursor: default;
  }
  
  .app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: rgb(240, 240, 231);
  }

  .sigin-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .button4 {
    --green: #1BFD9C;
    font-size: 15px;
    margin-left: 10px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: Digital-7, 'sans-serif';
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
    color: rgb(25, 73, 39);
    font-weight: bold;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}
  
  .title2 {
    text-align: center;
    color: #ff9900;
    background: #e4dfb5;
    text-decoration: none;
    width: 290px;
    border-color: #a8720e;
    font-size: medium;
    font-weight: bold;
    font-family: Digital-7, 'sans-serif';
  }
  
  
  .register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
  }
  
  .success-message {
    font-family: "Roboto", sans-serif;
    background-color: #3f89f8;
    padding: 15px;
    color: white;
    text-align: center;
  }
  
  .form-field {
    margin: 10px 0 10px 0;
    padding: 15px;
    font-size: 16px;
    border: 0;
    font-family: "Roboto", sans-serif;
  }
  
.mySignInStyle input,
.mySignInStyle button {
  padding: 7px;
  display: block;
  margin: 15px 0 0 0;
  border-radius: 4px;
  border: 1px solid #999;
  width: 300px;
}

.mySignInStyle button {
  width: auto;
}

.err {
  margin: 4px 0 0 0;
  font-size: 13px;
  color: #e64646;
}
