/********************************************************************************/
.title {
    color: antiquewhite;
    margin-top: 1px;
}

.squares {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.OCUPADO {
    width: 70px;
    height: 70px;
    font-size: small;
    color: azure;
    background: #449141;
    margin-right: 10%;
    border-style: ridge;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CLICKED {
    width: 70px;
    height: 70px;
    font-size: small;
    color: azure;
    background: #414991;
    margin-right: 10%;
    border-style: ridge;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LIBRE {
    width: 70px;
    height: 70px;
    font-size: small;
    color: azure;
    background: #4686e7;
    margin-right: 10%;
    border-style: ridge;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MANTENIMIENTO {
    width: 70px;
    height: 70px;
    font-size: small;
    color: azure;
    background: #dd3f00;
    margin-right: 10%;
    border-style: ridge;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lots-component2 {
    float: right;
    background-color: #1BFD9C;
}

.title2 {
    color: #0f774a;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

.matchs2 {
    padding: 2px;
}

.left2 {
    left: 0;
    float: left;
    width: 50%;
    padding: 20px;
    height: 480px;
    border-style: inset;
    border-color: #eee2bc;
    margin-left: 10px;
}

/* Control the right side */
.right2 {
    right: 0;
    float: right;
    width: 40%;
    height: 480px;
    margin-right: 10px;
    padding: 20px;
    border-style: inset;
    border-color: #ffe8a5;
}

.left3 {
    left: 0;
    float: left;
    width: 52%;
}

/* Control the right side */
.right3 {
    right: 0;
    float: right;
    width: 47%;
}

.scrollable2 {
    margin: 1px;
    padding: 5px;
    background: rgba(8, 38, 46, 0.986);
    height: 450px;
    overflow: auto;
    border: 1ch;
    border-style: inset;
}

/********************************************************************************/
/* RIGTH PART OF THE SCREEN*/


.title {
    color: #ff9900;
    background: #fff4a3;
    text-decoration: none;
    width: 200px;
    margin-left: 200px;
    font-size: medium;
    font-weight: bold;
    border: #5da385;
    border-style: dotted;
    font-family: Digital-7, 'sans-serif';
}

body {
    background-color: beige;
    height: 100%;
}

.div2 {
    margin-bottom: 10px;
    align-content: start;
}

.div3 {
    margin-bottom: 10px;
    align-content: center;
    padding-left: 50px;
}
.div32 {
    margin-bottom: 10px;
    align-content: center;
    padding-left: 46px;
}

.div4 {
    margin-bottom: 10px;
    align-content: center;
    padding-left: 200px;
}
.div42 {
    margin-bottom: 10px;
    align-content: center;
    padding-left: 196px;
}

.label2 {
    font-size: 12px;
    font-weight: 300;
    color: #221906;
    margin: 0 0 24px;
    display: inline-block;
    width: 80px;
    margin-right: 15px;
    margin-left: 15px;
    font-family: Digital-7, 'sans-serif';
}

.input2 {
    width: 120px;
    border-radius: 8px;
    outline: 2px solid #615121;
    border: 0;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: Digital-7, 'sans-serif';
    background-color: #e2e2e2;
    outline-offset: 3px;
    padding: 5px 1rem;
    transition: 0.25s;
}

.select2 {
    width: 155px;
    border-radius: 8px;
    outline: 2px solid #615121;
    border: 0;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: Digital-7, 'sans-serif';
    background-color: #e2e2e2;
    outline-offset: 3px;
    padding: 5px 1rem;
    transition: 0.25s;
}

.label3 {
    font-size: 12px;
    font-weight: 300;
    color: #221906;
    margin: 0 0 24px;
    display: inline-block;
    width: 200px;
    margin-right: 15px;
    margin-left: 15px;
    font-family: Digital-7, 'sans-serif';
}

.input3 {
    width: 250px;
    border-radius: 8px;
    outline: 2px solid #615121;
    border: 0;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: Digital-7, 'sans-serif';
    background-color: #e2e2e2;
    outline-offset: 3px;
    padding: 5px 1rem;
    transition: 0.25s;
}

.button2 {
    --green: #124931;
    font-size: 15px;
    margin-left: 10px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: Digital-7, 'sans-serif';
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(10, 240, 136, 0.1) 100%, transparent 10%, transparent 10%, rgba(0, 88, 50, 0.1) 10%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4), 0 0 9px 3px rgba(44, 223, 145, 0.1);
}

.button:hover {
    color: #82ffc9;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
}

.button:hover:before {
    transform: translateX(15em);
}

/********************************************************************************/
/* Control the left side */
.configuration {

    background: linear-gradient(90deg, rgb(15, 15, 15) 0%, rgb(24, 27, 32) 0%, rgb(28, 26, 41) 50%, rgb(24, 27, 32) 100%);
}

/********************************************************************************/
/*CLOCK*/
.clockdate-wrapper {
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #26395c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
    max-width: 350px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
}

#clock {
    font-family: Digital-7, 'sans-serif';
    font-size: 30px;
    text-shadow: 0px 0px 1px #fff;
    color: #fff;
}

#clock span {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0px 0px 1px #333;
    font-size: 20px;
    position: relative;
    top: -5px;
    left: 10px;
}

#date {
    letter-spacing: 3px;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #fff;
}