

.Header{
    float: right;
    padding-right: 20px;
}

.mySignInStyle input,
.mySignInStyle button {
  padding: 7px;
  display: block;
  margin: 15px 0 0 0;
  border-radius: 4px;
  border: 1px solid #999;
  width: 300px;
}

.mySignInStyle button {
  width: auto;
}

.sigin-form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


  .app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #364374;
  }
  
 
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title2 {
    text-align: center;
    color: #ff9900;
    background: #e4dfb5;
    text-decoration: none;
    width: 290px;
    border-color: #a8720e;
    font-size: medium;
    font-weight: bold;
    font-family: Digital-7, 'sans-serif';
  }

  .button3 {
    --green: #1BFD9C;
    font-size: 15px;
    margin-left: 10px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: Digital-7, 'sans-serif';
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
    color: rgb(25, 73, 39);
    font-weight: bold;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }